@using ScubaInstructor.Models
@model MainModel
<div class="row">
    <h2>Home</h2>
    <p>
    </p>
    <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    <p>@Model.test
    </p>
</div>
